body { 
  background: #f7f7f7;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-logo{
  width: 370px;
}

@media(max-width: 768px){
  .container{
    margin: 0 10%;
  }
  .img-logo{
    width: 100%;
    margin: 0;
  }
}
